.dialogs {
  color: #000;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: #ffc800;
}

.dialog {}

.messages {
  padding: 10px;
}

.message {}