.content_img {
  height: 10vw;
  background-image: url(https://media.istockphoto.com/id/1126183905/vector/abstract-background-of-small-squares.jpg?s=612x612&w=0&k=20&c=tmTxfsuLdy89eB1H3UcnqcLoOWN61yGDKxL3CEEUnN0=);
}

.content_ava {
  padding: 10px;
}